@import('pages/vender.styl')
/*公用类名*/
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.center {
  text-align: center;
}
.common_ovh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common_fff,.common_fff a {
  color: #fff;
}
.common_ddd {
  color: #ddd;
}
.common_999,.common_999 a {
  color: #999;
}
.common_bbb,.common_bbb a {
  color: #bbb;
}
.common_bg222 {
  background-color #222;
}
.common_hidden {
  display: none;
}
.common_paltebg {
  background-image url('../images/plate-back.png')
}
body.day
  background: url('../images/body-white.png')
  main
    color #333
  .common_fff,.common_fff a
    color #333
  .common_ddd,a
    color #666
  .common_paltebg
    background: url('../images/plate-white.png')
  .common_bg222
    background-color #ccc
/*通用样式*/
body, html {
  background: url('../images/body-back.png');
  background-color: #282828;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 100%;
  font-family: 'Titillium', '微软雅黑', Arial, '黑体', '宋体', sans-serif;
  font-size: 14px;
  position: relative;
  color: #fff;
}
a {
  color: #ddd;
}
main {
  width: 1200px;
  margin: 0 auto;
  color #fff;
}

/*头部公用组件样式*/
header {
  background-image: url('../images/nav-back.png');
  background-position: left bottom;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto 56px;
  width: 100%;
  height: 56px;
}
header .common_header {
  width: 1200px;
  margin: 0 auto;
  height: 51px;
  position: relative;
}
header .common_header .logo {
  width: 118px;
  float: left;
  height: 100%;
  margin-left: 10px;
}
header .common_header .logo img {
  width: 100%;
  margin-top: 10px;
}
header .common_header nav {
  margin: 0 auto;
  width: 710px;
  height: 51px;
  line-height: 51px;
  font-size: 0;
  /*display: none;*/
}
header .common_header nav a {
  font-size: 16px;
  display: inline-block;
  height: 100%;
  border-left: 1px solid #666;
  width: 80px;
  text-align: center;
  letter-spacing: 3px;
}
header .common_header nav a.join-vip span {
  background-image: url('../images/VIP.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header .common_header nav a:hover,
header .common_header nav a.active {
  background-color: rgba(0,0,0,.4);
  color: #ccc;
}
header .common_header nav a:last-child {
  border-right: 1px solid #666;
  color: #ED242C; 
  font-size: 14px;
  line-height: 1.2em;
  vertical-align: top;
  box-sizing: border-box;
  width: 60px;
}
header .common_header nav a:last-child span {
  display: block;
  font-size: 16px;
}
header .common_header .header-right {
  position: absolute;
  right: 10px;
  top: 0;
  height: 51px;
  line-height: 51px;
  font-size: 16px;
}
header .common_header .header-right .top-search {
  display: inline-block;
  position: relative;
  vertical-align top
}
header .common_header .header-right .top-search .ipt-wra {
  right: 52px;
  top: 7px;
  width: 600px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  display: none;
}
header .common_header .header-right .top-search .ipt-wra.active {
  display block
}
header .common_header .header-right .top-search .ipt-wra input {
  width: 535px;
  height: 34px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 0 50px 0 15px;
  color #ddd
}
header .common_header :-moz-placeholder
      color #ddd
header .common_header ::-moz-placeholder
      color #ddd 
header .common_header :-ms-input-placeholder
      color #ddd 
header .common_header ::-webkit-input-placeholder
      color #ddd 
header .common_header .header-right .top-search .check-s {
  display: none;
  width: 35px;
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
  font-size: 24px;
}
header .common_header .header-right .top-search .check-s.active {
  display: block;
}
header .common_header .header-right .top-search .ipt-wra button {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  width: 50px;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size 20px
}
header .common_header .header-right .logoin {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  width 100px;
}
header .common_header .check-style {
  position: absolute;
  right: -100px;
  top: 12px;
  cursor: pointer;
}
header .common_header .check-style img {
  display: none;
}
header .common_header .check-style img.active {
  display: block;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #333;
  text-align: center;
  padding: 30px 0 50px;
  margin-top: 50px;
}
footer .common-footer {
  width: 1200px;
  margin: 0 auto;
}
footer .common-footer .foot-logo {
  margin: 0 auto;
  height: 30px;
  text-align: center;
}
footer .common-footer .foot-logo img {
  height: 100%;
}
footer .common-footer .about {
  text-align: center;
  font-size: 0;
  margin: 30px 0 40px;
}
footer .common-footer .about a {
  display: inline-block;
  margin: 0 15px;
  font-size: 14px;
}
footer .common-footer .copyright {
  font-size: 12px;
}


/*面包屑样式*/
.breadcrumbs {
  width: 1200px;
  margin: 15px auto;
}
/* 未来之前的样式 */
.fr-view {border-top:none;clear:both;padding-bottom:50px;padding:0 10px 15px 10px;color:#ddd;}
.fr-view strong{color:#fff;padding:0 0px}
.fr-view a{color:#06F;padding:0 2px 0 2px;text-decoration:none}
.fr-view a:hover{color:#F60}
.fr-view h1{color:#fff;font-size:2.2em;font-weight:400;padding:10px 0;margin:10px 0}
.fr-view h2{color:#fff;font-size:1.9em;font-weight:400;line-height:120%;color:#52412E;padding:10px 0}
.fr-view h4{color:#fff;font-size:1.2em;line-height:120%;font-weight:700;padding:10px 0;font-weight:400}
.fr-view h5{color:#fff;font-size:.9em;line-height:120%;padding:10px 0}
.fr-view h6{color:#fff;font-size:.75em;line-height:120%;padding:10px 0}
.fr-view ol{margin:10px 20px}
.fr-view ol li{list-style-type:decimal;margin-left:20px}
.fr-view img{display:block; margin:25px auto;}

.container section .fr-view h3 {
    font: 400 20px/24px '微软雅黑';
    margin: 20px 5px 20px;
    background-color rgba(0,0,0,.3)
    line-height 40px
    text-align left
    border-left 2px solid #FA1C31
    padding-left 15px
}

.fr-view .keyText {
    border: 1px solid #666;
    padding: 15px;
    font-size: 16px;
    border-radius: 9px;
    background-color rgba(0,0,0,.4)
}
.fr-view .keyText h4 {
    text-indent: 10px;
    height: 34px;
    line-height: 34px;
    color: #FA1C31;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
.fr-view .t_h3 {
    border-bottom: 1px solid #DDD;
    border-left: 6px solid #4CAF50;
    padding: 7px 0px 9px 5px;
    margin: 30px 0 20px;
    font: 100 22px/24px '微软雅黑', Helvetica, Arial;
    border-bottom: 1px solid #DDD;
}
// 内容公用样式
.fr-view {
  font-size: 16px;
}
.fr-view a {
  color: #00aee8;
}
.fr-view .intro {
  border-left: 5px solid #0cad12;
  border-bottom: 1px solid #ccc4da;
  font-size: 18px;
  padding: 10px;
  margin: 0 0 20px;
}
.fr-view .special-info {
  background-color: #fef7f8;
  color: #210406;
  margin: 0 0 20px;
  padding: 5px 15px;
  border-left: 5px solid #f0868e;
}
.fr-view hr,
.fr-view p {
  margin: 20px 0;
}
.fr-view blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  color: #5e35b1;
  padding-left: 5px;
}
.fr-view ul,
.fr-view ol {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border-radius: 0 !important;
  margin-bottom: 10px;
}
.fr-view ul {
  list-style-type: disc;
}
.fr-view ol {
  list-style-type: decimal;
}
.fr-view .fr-text-gray {
  color: #aaa !important;
}
.fr-view .fr-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}
.fr-view .fr-text-spaced {
  letter-spacing: 1px;
}
.fr-view .fr-text-uppercase {
  text-transform: uppercase;
}
.fr-view sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.fr-view img {
  position: relative;
  max-width: 100%;
}
.fr-view a {
  color: #00aee8;
}
.fr-view .surround{
  clear:none;
}
.fr-view p {
  clear:both;
}
.fr-view .special-info .intro {
  clear:both;
}
.fr-view img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
.fr-view img.fr-dib.fr-fil {
  margin-left: 0;
}
.fr-view img.fr-dib.fr-fir {
  margin-right: 0;
}
.fr-view img.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - (2 * 5px));
}
.fr-view img.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.fr-view img.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 16px;
  max-width: calc(100% - 5px);
}
.fr-view img.fr-rounded {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-view img.fr-bordered {
  border: solid 10px #CCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.fr-view .fr-video {
  text-align: center;
  position: relative;
}
.fr-view .fr-video > * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  border: none;
}
.fr-view .fr-video.fr-dvb {
  display: block;
  clear: both;
}
.fr-view .fr-video.fr-dvb.fr-fvl {
  text-align: left;
}
.fr-view .fr-video.fr-dvb.fr-fvr {
  text-align: right;
}
.fr-view .fr-video.fr-dvi {
  display: inline-block;
}
.fr-view .fr-video.fr-dvi.fr-fvl {
  float: left;
}
.fr-view .fr-video.fr-dvi.fr-fvr {
  float: right;
}
/* 公用dl样式 */
.fr-view .block_soft {
  width: 100%;
  height: 145px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
  margin: 5px auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-color rgba(0,0,0,.5)
}
.fr-view .block_soft a {
  display: inline-block;
  height: 100%;
}
.fr-view ul {
  margin: 0;
  padding: 0;
}
.fr-view .block_soft .block_img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 20px 0 12px;
  float: left;
}
.fr-view .block_soft .block_img img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.fr-view .block_soft .block_content {
  overflow: hidden;
  width: 670px;
  height: 100%;
  border-right: 1px dashed #2A2A2A;
}
.fr-view .block_soft .block_content .title {
  font-size: 18px;
  color: #fff;
  margin: 12px 0;
  line-height: 1.5em;
}
.fr-view .block_soft .block_content .desc {
  height: 4em;
  overflow: hidden;
  line-height: 2em;
  max-width: 95%;
  font-size: 14px;
  color: #ddd;
  margin: 0;
}
.fr-view .block_soft .block_content .info {
  margin-top: 12px;
  color: #999;
  font-size: 14px;
  line-height: 1.5em;
}
.fr-view .block_soft .block_content .info span {
  margin-right: 15px;
  color: #999;
}
.fr-view .block_soft .block_btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  width: 15%;
}  
.fr-view .block_soft .block_btn .btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  outline-style: none;
  border: none;
  cursor: pointer;
}
.fr-view .fr-video.fr-dvb .video-img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 22px 1px rgba(0,0,0,.4);
}
.fr-view .fr-video.fr-dvb .video-img img {
  height: 100%;
  width: 100%;
  margin: 0;
}
// 分页样式
.common_pagination {
  text-align: center;
  bottom: 35px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 0;
  margin-top 50px
}
.common_pagination span {
  display: inline-block;
  line-height: 40px;
  color: #999;
  padding: 0 10px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}
.common_pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #fff;
  background: rgba(56, 56, 56, 0.8);
}
.common_pagination a.prev,
.common_pagination a.next {
  width 100px
  background: rgba(56, 56, 56, 0.6);
}
.common_pagination a.active {
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
}
.common_pagination a:hover {
  background: #111;
}
.common_pagination .disabled {
  color: #999;
}


// 登陆弹框样式
header .login-mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 9999;
}
header .center-box {
  width: 300px;
  height: 480px;
  padding: 50px 50px 0;
  background-image url("../images/body-back.png")
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow 0 0 15px 0 rgba(0,0,0,.5);
}
header .center-box .login-reg {
  margin-bottom 30px
}
header .center-box .login-reg .login,
header .center-box .login-reg .reg {
  display: inline-block;
  font-size: 16px;
  width: 125px;
  height: 45px;
  line-height 45px
  text-align: center;
  cursor: pointer;
  background-color rgba(17, 17, 17, 0.5)
}

header .center-box .login-reg .login.active,
header .center-box .login-reg .reg.active {
  background-image url('../images/plate-back.png')
  box-shadow 0 0 10px 2px rgba(0,0,0,.5)
}
header .center-box .login-reg .reg {
  float right
}

header .center-box label {
  display: inline-block;
  width: 100%;
  text-indent: 18px;
  line-height: 32px;
}
header .center-box :-moz-placeholder
      color #ddd
header .center-box ::-moz-placeholder
      color #ddd 
header .center-box :-ms-input-placeholder
      color #ddd 
header .center-box ::-webkit-input-placeholder
      color #ddd 
header .center-box input[type="text"],
header .center-box input[type="password"] {
  font-size 12px
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #666;
  color #ddd;
  box-shadow: inset 0 0 7px rgba(174,174,174,0.22);
  margin-bottom: 18px;
}
header .center-box .rem-for {
  margin-bottom 25px
}
header .center-box .rem-for .forgit-pw {
  cursor: pointer;
}
header .center-box input[type="radio"] {
  background: #f8f8f8;
  margin-right: 5px;
}
header .center-box .login-btn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color #fff;
  background: rgba(17, 17, 17, 0.5);
  cursor: pointer;
}
header .center-box .login-form {
  position: relative;
}
header .center-box fieldset {
  position: relative;
}
header .center-box .error-text {
  position: absolute;
  bottom: 0;
  font-size 12px 
  color #f00
  left: 10px;
  display: none;
}
.center-box .login-form>.error-text {
  bottom: 45px;
  white-space nowrap
}
header .tp-login,
header .tp-reg {
  margin-top: 20px;
  text-align: center;
}
header .tp-login>p {
  margin-bottom 18px
}
header .tp-login .qq-wr,
header .tp-login .wx-wr {
  display inline-block
  text-align center
  width 50%
}
header .tp-login .qq-icon {
  font-size: 22px;
  display inline-block
  width 40px;
  height 40px;
  line-height 40px
  color #68BEF8
  border-radius 50%;
  background-color rgba(0,0,0,.5)
  cursor: pointer;
  margin-bottom 5px
}
header .tp-login .wechat-icon {
  font-size: 24px;
  display inline-block
  width 40px;
  height 40px;
  line-height 40px
  color #07B906
  border-radius 50%;
  background-color rgba(0,0,0,.5)
  cursor: pointer;
  margin-bottom 5px
}
header .tp-login .txt {
  color: #999;
}
header .tp-reg {
  display: none;
  margin-top 60px
}
header .tp-reg .txt {
  font-size: 18px;
}
header .tp-reg .qq-reg,
header .tp-reg .wechat-reg,
header .tp-reg .tel-reg {
  width 100%
  height 50px 
  line-height 50px 
  color #fff 
  border-radius 5px 
  margin-bottom 40px
  text-align center
  font-size 16px
  cursor pointer
}
header .tp-reg .qq-reg {
  background-color #01B588
}
header .tp-reg .wechat-reg {
  background-color #44B3FB
}
header .tp-reg .tel-reg {
  background-color #EBB73A
  margin-bottom 10px
}
header .tp-reg .qq-reg span,
header .tp-reg .wechat-reg span,
header .tp-reg .tel-reg span {
  font-size 24px 
  vertical-align sub
  margin-right 10px
}
header .close-btn {
  position: absolute;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #aaa;
  border-radius: 50%;
}
header .center-box .reg-form,
header .center-box .bcakPassWord,
header .center-box .bcakPassWord .backPW-step-f, 
header .center-box .bcakPassWord .backPW-step-t, 
header .center-box .success-tip {
  display: none;
}

header .center-box .reg-form.active,
header .center-box .bcakPassWord.active,
header .center-box .success-tip.active {
  display: block;
}

header .center-box .back-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
header .center-box .bcakPassWord fieldset>p {
  text-indent: 18px;
  color: #999;
}
header .center-box input[type="text"].code-ipt {
  width: 140px; 
}
header .center-box .code-img {
  width: 146px;
  margin-left: 12px;
  font-size: 0;
  height: 38px;
  vertical-align: middle;
  border: 1px solid #eee;
  cursor: pointer;
  height 40px
}
header .center-box .back-pw-tip,
header .center-box .sure-pw-tip,
header .center-box .reg_tip {
  color: #f00;
  display: none;
}
header .center-box .back-pw-tip.green,
header .center-box .sure-pw-tip.green,
header .center-box .reg_tip.green {
  color: green;
}
header .center-box button.send-code {
  position: absolute;
  top: 30px;
  right: 8px;
  outline: none;
  border: none;
  width: 80px;
  height: 24px;
  line-height: 23px;
  border-radius: 12px;
  background-color: #333;
  color #fff
  font-size: 12px;
  cursor: pointer;
  padding-bottom 1px
}
header .center-box button.send-code.forbid {
  background-color: #999;
  color: #eee;
  cursor: default;
}
header .center-box .reg-form button.send-code {
  top: 8px;
}
header .center-box button.step-btn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background: rgba(17,17,17,0.5);
  cursor: pointer;
  margin-top: 10px;
}
header .center-box button.reg-tel-in {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color #fff;
  background: rgba(17, 17, 17, 0.5);
  cursor: pointer;
  margin-top 10px
}
header .center-box .success-tip .t-round{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  box-shadow 0 0 20px 2px rgba(0,0,0,.5)
  font-size: 118px;
  line-height: 125px;
  text-align: center;
  margin: 50px auto 30px;
}
header .center-box .success-tip .text-tip {
  font-size: 18px;
  text-align: center;
}
header .center-box .success-tip .back-login {
  margin: 80px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  background: rgba(17,17,17,0.5);
  cursor: pointer;
}


/* 提示绑定弹框 */
.p-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 9999;
  display: none;
}
.prompt-box-tel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 260px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 60px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5); 
  font-size: 16px;
}
.prompt-box-tel .cancel-tip {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s;
}
.prompt-box-tel .cancel-tip:hover {
  transform: rotate(180deg);
  color: #0AA84D;
}
.prompt-box-tel .desc {
  text-align: center;
  width: 130px;
  line-height: 2em;
  margin: 0 auto;
  margin-bottom: 25px;
}
.prompt-box-tel .award {
  text-align: center;
}
.prompt-box-tel .award span {
  color: #999;
  font-size: 14px;
  display: inherit;
}
.prompt-box-tel a {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #30A338;
  border-radius: 5px;
  margin-top: 30px;
}

// 登陆后头部样式
header .common_header .logged-in {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  position: relative;
  text-align: right;
}
header .common_header .logged-in:hover .hover-show {
  display: block;
}
header .common_header .logged-in:hover .hover-arrow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: center bottom;
}
header .common_header .logged-in .avatar-img-hook,
header .common_header .logged-in .vip-tag,
header .common_header .logged-in .hover-arrow {
  display: inline-block;
  vertical-align: middle;
}
header .common_header .logged-in .avatar-img-hook {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .common_header .logged-in .vip-tag {
  padding: 0 5px;
  font-size: 12px;
  background: #ddd;
  color: #fff;
  margin: 0 5px 16px;
  line-height normal
}
header .common_header .logged-in .vip-tag.vip {
  background-color: red;
}
header .common_header .logged-in .points {
  position: absolute;
  width: 60px;
  text-align: center;
  text-indent: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top: -5px;
  right: 5px;
  color: #fff;
  font-size: 12px;
}
header .common_header .logged-in .hover-arrow {
  width: 7px;
  height: 7px;
  margin-left 5px
  border: 1px solid #ababab;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: all 0.4s;
}
header .common_header .logged-in .hover-show {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  width: 188px;
  border-radius: 10px;
  background: #222;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
// header .common_header .logged-in .hover-show:before {
//   content: '';
//   position: absolute;
//   right: 60px;
//   top: -6px;
//   width: 12px;
//   height: 12px;
//   background: #222;
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -ms-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }
header .common_header .logged-in .hover-show:after {
  content: '';
  position: absolute;
  width: 124px;
  height: 15px;
  top: -15px;
  right: 0;
  opacity: 0;
}
header .common_header .logged-in .nickname {
  text-align: center;
  line-height: 39px;
  border-bottom: 1px solid #666;
  color: #fff;
  padding: 0 10px;
}
header .common_header .logged-in .pm-item {
  display: block;
  line-height: 40px;
  text-align: left;
  padding-left: 20px;
  color: #fff;
}
header .common_header .logged-in .pm-item:last-child {
  border-top: 1px solid #ababab;
  border-radius: 0 0 10px 10px;
}
header .common_header .logged-in .pm-item:hover {
  background: #000;
}
header .common_header .logged-in .icon,
header .common_header .logged-in em {
  display: inline-block;
  vertical-align: middle;
}
header .common_header .logged-in .icon {
  font-size: 22px;
  margin-right: 10px;
}
.new-info-num{position:absolute;left:-10px;top:-15px;background-color:red;border-radius:10px;padding:5px 6px;line-height:10px;text-align:center;color:#fff}