@import('vender.styl')
@charset "UTF-8";
.breadcrumb .breadcrumb_article {
    display: inline-block;
    max-width: 500px;
    height: 100%;
    vertical-align: middle;
    line-height: 18px;
}
main {
    width: 1200px;
    margin: 0 auto;
}
#comment-area .pos-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 47px;
    background-color: #FFA227;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    top: -4px;
}
#comment-area .pos-title:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 4px solid #CF7D0F;
    border-right: 4px solid transparent;
    position: absolute;
    top: 0;
    right: -4px;
}
#comment-area {
    width: 590px;
    height: 250px;
    float: right;
    margin-top: 0;
    border: none;
    position: relative;
    background-color rgba(0,0,0,.5)
    border-radius 5px 
    box-shadow 0 0 10px 0 rgba(0,0,0,.4)
}
#comment-area .net-name {
    display: inline-block;
    height: 30px;
    width: 50px;
    background-color: #FA1C31;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin-left: 50px;
    vertical-align: top;
}
#comment-area .scores .nickname {
    border: 1px solid #FA1C31;
    vertical-align: middle;
    height: 28px;
}
#comment-area .text-input {
   border-color: #ddd;
   border-radius: 10px; 
   margin-top: 15px;
   height: 100px;
   margin-bottom: 18px;
}
.ajax_code-img {
    float: left;
    margin-left: 20px;
}
.grade .scores .post-btn.disabled {
    border-color #999
}
.grade .scores .post-btn {
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    border-color: #FA1C31;
}
.ajax_code-img .ajax_verify-code {
    height: 28px;
    border: 1px solid #FA1C31;
}
.ajax_code-img .ajax_code_img {
    height: 30px;
}
.grade .text-input .word-count, .reply-div-wrapper .word-count {
    left: 90%;
}
.comments-wrapper .emoji-wrapper {
    right: 94%;
    bottom: 5px;
}
.comments-wrapper .emoji-wrapper .icon-emoji {
    color: #666;
}
.article-preview {
    width: 560px;
    height: 220px;
    position: relative;
    padding: 15px;
    float: left;
    background-color rgba(0,0,0,.5)
    box-shadow 0 0 10px 0 rgab(0,0,0,.3)
    border-radius 5px
}
.article-preview .prev-title {
    font: 500 24px/30px '微软雅黑';
    margin: 0;
    height: 60px;
    overflow: hidden;
}
.article-preview .prev-desc {
    font-size: 14px;
    color: #666;
    max-height: 72px;
    line-height: 24px;
    overflow: hidden;
    text-align: justify;
    margin-top: 10px;
}
.article-preview .go-back-btn {
    display: block;
    margin: 20px auto 0;
    right: 20px;
    top: 35px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border 1px solid #333
    background-color rgba(0,0,0,.5)
}
.article-preview .go-back-btn:before {
    font-size: 20px;
    margin-right: 12px;
    vertical-align: bottom;
}
.comments .posted .comment_title {
    line-height 50px
}
.comments-wrapper .comment_title {
    font-weight: normal;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #999;
}
.common_pagination {
    position: static;
    margin-top: 20px;
}
.comments-wrapper section.posted {
    float: left;
    width: 890px;
    margin-top: 20px;
    position: relative;
    padding: 0px 10px 85px 10px;
}
.comments-wrapper section.posted .pagination {
    padding: 20px 0;
    background: #fff;
    bottom: 0;
}
.comments-wrapper .pagination .prev,
.comments-wrapper .pagination .next {
    color: #17882f;
    border-color: #17882f;
}
.comments-wrapper .pagination .prev.disabled,
.comments-wrapper .pagination .next.disabled {
    color: #ddd;
    border-color: #ddd;
    cursor: default;
}
.comments-wrapper section.hot-reviews {
    float: right;
    width: 280px;
    min-height: 500px;
    margin-top: 20px;
    background-color rgba(0,0,0,.4)
}
.comments-wrapper section.hot-reviews hgroup {
    height: 50px;
    border-bottom: 1px solid #999;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
}
.hot-reviews hgroup .title {
    line-height: 1;
}
.hot-reviews hgroup .title_ch {
    font-size: 16px;
    font-weight: 400;
}
.hot-reviews hgroup .title_en {
    font-size: 12px;
    color #999
}
.comments-wrapper .hot-reviews .list-wrapper {
    font-size: 14px;
    padding: 5px;
}
.comments-wrapper .hot-reviews .list-item {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.comments-wrapper .hot-reviews .list-item a {
    color: #666;
    display: inline-block;
    height: 100%;
    max-width: 100%;
}
.comments-wrapper .hot-reviews .list-item:hover {
    background: #f1f1f1;
}
.comments-wrapper .hot-reviews .list-item .index {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    color: #999;
}
.comments-wrapper .hot-reviews .list-item:nth-child(-n+3) .index {
    color: #feb527;
}