.andr-banner {
  padding: 40px 288px 0 40px;
  margin: 50px 0;
  height: 230px;
  position: relative;
  z-index: 10;
}
.andr-banner .content a {
  display: block;
  height: 180px;
  margin-bottom: 20px;
}
.andr-banner .content .left {
  float: left;
  width: 300px;
  height: 180px;
  overflow: hidden;
  margin-right: 40px;
}
.andr-banner .content .left img {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.andr-banner .content .right {
  overflow: hidden;
  color: #fff;
  text-shadow: 1px 1px 3px #131111;

}
.andr-banner .content .title {
  font-size: 24px;
  line-height: 81px;
  letter-spacing: 3px;
}
.andr-banner .content .desc {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}
.andr-banner .rating {
  width: 300px;
  text-align: center;
}
.andr-banner .rating .common_star-item {
  width: 110px;
  height: 22px;
  background-size: 22px;
}
.andr-banner .rating .common_star-item:before {
  background-size: 22px;
}
.andr-banner .bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: blur(100px);
  background-color: #ddd !important;
}
.andr-banner .bg-blur .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(143,143,143,0.2);
}
.andr-banner .abs-t {
  position: absolute;
  top: -20px;
  left: 750px;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.andr-banner .abs-t img {
  height: 100%;
  min-width: 100%;
}
.andr-banner .abs-r {
  position: absolute;
  width: 200px;
  height: 310px;
  top: -20px;
  right: 40px;
  background: #fff;
}
.andr-banner .abs-r li span {
  display: inline-block;
  width: 100%;
}
.andr-banner .abs-r .ovh {
  width: 200px;
  height: 230px;
  padding-left: 40px;
  overflow: hidden;
  position: relative;
  left: -40px;
}
.andr-banner .abs-r .s-btn {
  height: 40px;
  font-size: 22px;
  background: #ffa938;
  color: #fff;
  cursor: pointer;
}
.andr-banner .abs-r .prev-btn,
.andr-banner .abs-r .next-btn {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 40px;
}
.andr-banner .abs-r .prev-btn:before {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.andr-banner .abs-r .next-btn:before {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(90deg);
}
.andr-banner .abs-r ul {
  position: relative;
  top: 0;
  transition: all 0.4s;
}
.andr-banner .abs-r li {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ddd;
  padding: 0 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: #777;
  position: relative;
  user-select: none;
}
.andr-banner .abs-r li:hover {
  background: #f9f9f9;
}
.andr-banner .abs-r li.active {
  background: #ffc938;
  color: #fff;
}
.andr-banner .abs-r li.active:before {
  content: '';
  position: absolute;
  left: -80px;
  top: 0;
  width: 0;
  height: 0;
  border-width: 16px 40px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #ffc938;
}
.common_andr-breadcrumb {
  margin: 0;
}
.apps-lists li {
  float: left;
  width: 145px;
  height: 250px;
  margin: 0 18px 18px 0;
  padding: 20px 20px 0;
  background: #fff;
  transition: all 0.4s;
}
.apps-lists li:nth-child(6n) {
  margin-right: 0;
}
.apps-lists li:hover {
  box-shadow: 0 0 20px rgba(7,0,2,0.15);
}
.apps-lists .img-wrapper {
  width: 70px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}
.apps-lists img {
  height: 100%;
}
.apps-lists .title {
  font-size: 16px;
  line-height: 42px;
  margin-top: 5px;
  text-align: center;
}
.apps-lists .desc {
  height: 66px;
  line-height: 22px;
  overflow: hidden;
  text-align: justify;
}
.apps-lists .type {
  text-align: center;
  line-height: 72px;
}
.sect.newset {
  position: relative;
  padding-bottom: 40px;
  display: block;
}
.sect .sect-title {
  letter-spacing: 5px;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 2px solid #666;
  display: inline-block;
  margin: 25px 0;
}
.soft-cols .sect-title {
  float: left;
}
.soft-cols .swiper {
  overflow: hidden;
  height: 320px;
  width: 1200px;
  position: relative;
}
.soft-cols .more {
  float: right;
  font-size: 16px;
  line-height: 92px;
}
.soft-cols .prev-btn,
.soft-cols .next-btn {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 30px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.3);
  z-index: 10;
  font-size: 30px;
  cursor: pointer;
}
.soft-cols .prev-btn {
  left: 0;
}
.soft-cols .prev-btn:before {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.soft-cols .next-btn {
  right: 0;
}
.cols-item {
  display: inline-block;
  background: #fff;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.cols-item:nth-child(-n+2) {
  margin-top: 0;  
}
.cols-item .top {
  height: 230px;
  overflow: hidden;
  position: relative;
}
.cols-item .top:hover img{
  transform:translateX(-50%) scale(1.2);
}
.cols-item .top img {
  min-width: 100%;
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: all .4s;
}
.cols-item .top .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  background: rgba(0,0,0,0.5);
}
.cols-item .lists {
  height: 90px;
  padding: 0 20px;
  font-size: 0;
  position: relative;
  z-index: 2;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.cols-item .lists li {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 10px 20px 0 0;
  position: relative;
}
.cols-item .lists li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  transition: all .4s;
  position: absolute;
  z-index: 2;
  padding-bottom: 30px;
}
.cols-item .lists li span.title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  max-width: 100%; 
  left: 0;
  bottom: 2px;
  margin: 0 auto;
  opacity: 0;
  transition: all .4s;
} 
.cols-item .lists li:hover a {
  transform: translate3d(0, -30px, 0);
}
.cols-item .lists li:hover span.title {
  opacity: 1;
}
.cols-item .lists li:nth-child(6n) {
  margin-right: 0;
}
.cols-item .lists img {
  height: 100%;
  width: 100%;
}
.apps-sect {
  position: relative;
  padding-bottom: 40px;
}
.apps-sect li {
  position: relative;
  z-index: 10;
  transition: none;
}
.apps-sect li.active {
  width: 348px;
}
.apps-sect li.active .title,
.apps-sect li.active .desc,
.apps-sect li.active .type {
  color: #fff;
}
.apps-sect li.active .bg-blur {
  display: block;
}
.apps-sect li:hover {
  box-shadow: none;
}
.apps-sect li:nth-child(5n) {
  margin-right: 0;
}
.apps-sect li .bg-blur {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 388px;
  height: 270px;
  z-index: -1;
  filter: blur(20px);
  overflow: hidden;
  background-color: #bbb !important;
}
.apps-sect li .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}
.apps-sect .more,
.sect.newset .more{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
  background: #07f;
}
