.grade .send {
    width: 49px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    outline-style: none;
    border: 1px solid #999;
    color: #999;
    font-size: 16px;
    float: right;
    margin: 8px 15px;
}
.grade .send.active {
    border-color: #30a338;
    color: #30a338;
}
.grade .grade-text {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    padding: 6px 10px;
    outline-style: none;
    box-sizing: border-box;
}
.grade .scores .grade-stars {
    margin-bottom: 8px;
}
.grade .scores .wrapper-star {
    display: inline-block;
    vertical-align: middle;
}
.grade .scores .wrapper-star .star-item {
    font-size: 30px;
    padding-right: 6px;
    color: #999;
    float: left;
    margin-right: 0;
}
.grade .scores .nickname {
    height: 20px;
    padding-left: 4px;
    outline: none;
}
.grade .scores .post-btn {
    float: right;
    width: 50px;
    height: 22px;
    line-height: 20px;
    padding: 0 10px;
    color: #30a338;
    border: 1px solid #30a338;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.grade .scores .post-btn.disabled {
    color: #ddd;
    border-color: #ddd;
}
.grade .scores .post-btn .msg {
    position: absolute;
    bottom: -22px;
    left: -25px;
    color: #f00;
    white-space: nowrap;
    display: none;
}
.grade {
    background: #fff;
}
.grade .grade-top {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
}
.grade .grade-top .grade-num {
    color: #30a338;
}
.grade .grade-top .go-community {
    float: right;
    color: #333;
}
.grade .wrapper {
    border: none;
    background-color: transparent;
    width: 100%;
    display: block;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 6px;
}
.grade .text-input {
    margin-bottom: 5px;
    position: relative;
    padding: 0 5px 26px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.grade .text-input textarea {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 12px;
    background: transparent;
}
.comments-wrapper .emoji-wrapper {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}
.comments-wrapper .emoji-wrapper .icon-emoji {
    font-size: 26px;
    color: #feb726;
    font-weight: 500;
    cursor: pointer;
}
.comments-wrapper .emoji-wrapper .emojis {
    position: absolute;
    top: -10px;
    left: 40px;
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    width: 225px;
    z-index: 1000;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background: #fff;
    padding: 5px 0 0 5px;
    display: none;
}
.comments-wrapper .emoji-wrapper .emojis:before,
.comments-wrapper .emoji-wrapper .emojis:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #e1e1e1;
    bottom: -20px;
    right: 20px;
}
.comments-wrapper .emoji-wrapper .emojis:after {
    bottom: -19px;
    border-top-color: #fff;
    z-index: 1001;
}
.comments-wrapper .emoji-wrapper .emojis img {
    float: left;
    width: 40px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}
.reply-div-wrapper .reply-text-wrapper {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #87e6af;
}
.grade .text-input .word-count,
.reply-div-wrapper .word-count {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #f00;
}
.grade .grade-btn {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #30a338;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.grade .hot-grade {
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    text-indent: 3px;
    border-bottom: 1px solid #ddd;
}
.grade .grade-item {
    background-color: #fff;
    padding: 10px 5px 30px;
    position: relative;
    margin-bottom: 5px;
}
.grade .grade-item .user-img {
    width: 30px;
    height: 100%;
    padding-right: 10px;
    overflow: hidden;
    float: left;
}
.grade .grade-item .user-img img {
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.grade .grade-item .grade-content {
    overflow: hidden;
}
.grade .grade-item .grade-content .user-name {
    font-weight: normal;
    margin: -3px 0;
}
.grade .grade-item .grade-content .wrapper-star .star-item {
    margin-left: -2px;
    margin-right: -4px;
}
.grade .grade-item .grade-content .wrapper-star .full-star {
    color: #ffb527;
}
.grade .grade-item .grade-content .wrapper-star .no-star {
    color: #999;
}
.grade .grade-item .other {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    height: 100%;
    color: #999;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.grade .grade-item .other .update {
    margin-top: 8px;
}
.grade .grade-item .other .other-interact {
    margin-bottom: 3px;
}
.grade .grade-item .other .replay {
    margin-right: 5px;
}
.grade .grade-item .other .support,
.grade .grade-item .other .replay {
    color: #999;
}
.grade .grade-item .other .support:before,
.grade .grade-item .other .replay:before {
    vertical-align: middle;
    margin-right: 2px;
}
.grade .send {
    width: 49px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    outline-style: none;
    border: 1px solid #999;
    color: #999;
    font-size: 16px;
    float: right;
    margin: 8px 15px;
}
.grade .send.active {
    border-color: #30a338;
    color: #30a338;
}
.grade .grade-text {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    padding: 6px 10px;
    outline-style: none;
    box-sizing: border-box;
}
.grade .scores {
    padding: 10px 25px 20px 10px;
}
.grade .scores .grade-stars {
    margin-bottom: 8px;
}
.grade .scores .wrapper-star {
    display: inline-block;
    vertical-align: middle;
}
.grade .scores .wrapper-star .star-item {
    font-size: 30px;
    padding-right: 6px;
    color: #999;
    float: left;
    margin-right: 0;
}
.grade .scores .nickname {
    height: 20px;
    padding-left: 4px;
    outline: none;
}
.grade .scores .post-btn {
    float: right;
    width: 50px;
    height: 22px;
    line-height: 20px;
    padding: 0 10px;
    color: #00aee8;
    font-size: 12px;
    border: 1px solid #00aee8;
    border-radius: 5px;
    position: relative;
}
.grade .scores .post-btn.disabled {
    color: #ddd;
    border-color: #ddd;
}
.grade .scores .post-btn .msg {
    position: absolute;
    bottom: -22px;
    left: -25px;
    color: #f00;
    white-space: nowrap;
    display: none;
}
.comments .posted {
    margin: 20px 0;
}
.comments .posted .comment-item:first-of-type {
    margin-top: 20px;
}
.comments .posted .comment-item {
    padding: 15px 10px;
    background: #fff;
    border-bottom: 1px solid #f1f2f3;
    font-size: 12px;
}
.comments .comment-item .head-line {
    margin-bottom: 15px;
}
.comments .comment-item .comment-author {
    color: #8E44AD;
}
.comments .comment-item .comment-time {
    float: right;
}
.comments .comment-item .reply-box {
    padding: 3px;
    background: #fbfbf7;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    position: relative;
}
.comments .comment-item .comment-box-actions {
    text-align: right;
    visibility: hidden;
}
.comments .comment-item .comment-box-actions.hover,
.comments .comment-item .comment-box-actions.reply{
    visibility: visible;
}
.comments .comment-item .comment-box-actions>span {
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
}
.comments .comment-item .comment-text {
    font-size: 14px;
    margin-bottom: 8px;
}
.comments .comment-item .comment-actions {
    text-align: right;
    position: relative;
}
.comments .comment-item .comment-actions>span {
    margin-left: 20px;
    cursor: pointer;
}
.comments .comment-item .comment-actions .reply-div-wrapper {
    width: 98%;
    margin: 10px auto;
    border: 1px solid #c0edf1;
    box-sizing: border-box;
    background: #c0edf1;
}
.comment-actions .reply-div-wrapper .reply-textarea {
    width: 100%;
    resize: none;
    height: 80px;
    border: none;
    outline: none;
    padding: 3px 5px;
    box-sizing: border-box;
}
.comment-actions .reply-div-wrapper .reply-nickname {
    float: left;
    width: 200px;
    height: 24px;
    padding-left: 5px;
    line-height: 24px;
    margin: 5px 0 5px 5px;
    outline: none;
}
.comment-actions .reply-div-wrapper .reply-submit-btn {
    width: 100px;
    height: 24px;
    margin: 5px;
    background: #00aee8;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
.comments .posted .more-comments {
    width: 150px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #f00;
}
.comments .posted .more-comments.btn {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.ajax_code-img {
    float: right;
    margin-right:40px;
    text-align: left;
}
.ajax_code-img .ajax_verify-code {
    vertical-align: middle;
    width: 100px;
    height: 20px;
    padding-left: 5px;
}
.ajax_code-img .ajax_code_img {
    height: 22px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-right: 5px;
}
.ajax_code-img .change-code {
    cursor: pointer;
}
.reply-div-wrapper .ajax_code-img {
    padding-left: 5px;
    margin-top: 7px;
}
.comment-item .comment-text .comment_emoji {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin: 0 5px;
}