body {
  background: #f2f8f8;
}
main.container {
  padding-bottom: 110px;
}
.page-nav {
  height: 49px;
  background: #f8f8f8;
  font-size: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.page-nav .nav-item {
  display: inline-block;
  width: 160px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}
.page-nav .nav-item.active,
.page-nav .nav-item:hover {
  color: #088c53;
  border-bottom-color: #088c53;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.a-left {
  width: 830px;
  background: #fff;
  padding: 10px 5px 20px;
}
.a-left li {
  height: 150px;
  padding: 10px 15px 10px 5px;
  border-bottom: 1px solid #e6e6e6;
  transition: all 0.2s;
  margin-bottom: 10px;
}
.a-left li:hover {
  box-shadow: 0 0 9px rgba(144,144,144,0.35);
}
.a-left li:last-child {
  margin-bottom: 0;
}
.a-left li .title {
  height: 48px;
  line-height: 24px;
  overflow: hidden;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 8px;
}
.a-left li .img-wrapper {
  float: left;
  width: 200px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
}
.a-left li img {
  height: 100%;
}
.a-left li .desc {
  color: #999;
  line-height: 22px;
  height: 44px;
  overflow: hidden;
  text-align: justify;
  margin-bottom: 20px;
}
.a-left li .grey-text {
  font-size: 14px;
}
.a-right {
  width: 350px;
}
section {
  background: #fff;
  margin-bottom: 20px;
  position: relative;
}
section h2 {
  line-height: 49px;
  border-bottom: 1px solid #eee;
  text-indent: 10px;
  font-size: 16px;
}
section .more {
  position: absolute;
  top: 18px;
  right: 15px;
  line-height: 1;
}
.h-articles ul {
  padding: 10px 10px 20px;
  color: #999;
}
.h-articles li.active .hover-show {
  display: block;
}
.h-articles .title {
  line-height: 28px;
  text-indent: 14px;
  position: relative;
}
.h-articles .title:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #999;
}
.h-articles .hover-show {
  display: none;
  height: 74px;
  padding-left: 14px;
}
.h-articles .left {
  float: left;
  width: 100px;
  height: 74px;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
}
.h-articles .left img {
  height: 100%;
}
.h-articles .right {
  overflow: hidden;
  height: 54px;
  line-height: 18px;
  text-align: justify;
}
.h-downloads ul {
  padding: 20px 20px 0;
}
.h-downloads li {
  float: left;
  width: 90px;
  height: 140px;
  margin-right: 20px;
  text-align: center;
}
.h-downloads li:hover p {
  color: #38c34b;
}
.h-downloads li:nth-child(3n) {
  margin-right: 0;
}
.h-downloads li:nth-last-child(-n+4) {
  margin-bottom: 0;
}
.h-downloads li .img-wrapper {
  height: 70px;
  padding: 5px 0;
  transition: all 0.2s;
}
.h-downloads li img {
  width: 70px;
  height: 70px;
}
.h-downloads li p {
  line-height: 32px;
  transition: all 0.2s;
}
.qa-lists {
  padding: 10px 13px 20px;
}
.qa-lists li {
  height: auto;
  padding: 0;
  border-bottom: none;
  margin-bottom: 30px;
}
.qa-lists li:last-child {
  margin-bottom: 0;
}
.qa-lists li:hover {
  box-shadow: none;
}
.qa-lists li:hover .answer-box {
  box-shadow: 0 0 9px rgba(98,98,98,0.2);
}
.qa-lists li:hover .answer-box:before {
  box-shadow: 0 0 9px rgba(98,98,98,0.2);
}
.qa-lists li em {
  color: #088c53;
}
.qa-lists li p {
  font-size: 18px;
}
.qa-lists li .question {
  margin-bottom: 20px;
  text-indent: 10px;
}
.qa-lists .answer-box {
  height: 90px;
  padding: 10px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  transition: all 0.2s;
  position: relative;
  z-index: 100;
  background: #fff;
}
.qa-lists .answer-box:before {
  content: '';
  position: absolute;
  left: 45px;
  top: -8px;
  width: 14px;
  height: 14px;
  background: #e2e2e2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.qa-lists .answer-box:after {
  content: '';
  position: absolute;
  left: 42px;
  top: -6px;
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.qa-lists .answer-box .answer {
  height: 84px;
  line-height: 28px;
  overflow: hidden;
  text-align: justify;
}
