@font-face {
  font-family: 'common-fonts';
  src:  url('../../../fonts/common-fonts.eot?wohill');
  src:  url('../../../fonts/common-fonts.eot?wohill#iefix') format('embedded-opentype'),
    url('../../../fonts/common-fonts.ttf?wohill') format('truetype'),
    url('../../../fonts/common-fonts.woff?wohill') format('woff'),
    url('../../../fonts/common-fonts.svg?wohill#common-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'common-fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-error:before {
  content: "\e980";
}
.icon-footprint:before {
    content: "\e97a";
}
.icon-thumbup2:before {
    content: "\e97c";
}
.icon-android2:before {
  content: "\e976";
}
.icon-windows-logo:before {
  content: "\e977";
}
.icon-game3:before {
    content: "\e975";
}
.icon-safety2:before {
    content: "\e974";
}
.icon-industry:before {
    content: "\e978";
}
.icon-education:before {
    content: "\e979";
}
.icon-media:before {
    content: "\e97b";
}
.icon-picture2:before {
    content: "\e97d";
}
.icon-global:before {
    content: "\e97e";
}
.icon-system2:before {
    content: "\e97f";
}
.icon-app2:before {
    content: "\e981";
}
.icon-hardware:before {
    content: "\e982";
}
.icon-game2:before {
    content: "\e983";
}
.icon-x:before {
    content: "\78";
}
.icon-shijian2:before {
    content: "\e620";
}
.icon-close:before {
    content: "\e60f";
}
.icon-shijian1:before {
    content: "\e67c";
}
.icon-weixin:before {
    content: "\e603";
}
.icon-shijian4:before {
    content: "\e614";
}
.icon-iconfonterror:before {
    content: "\e623";
}
.icon-shoucang:before {
    content: "\e600";
}
.icon-iconfontweibowukuang:before {
    content: "\e661";
}
.icon-vipicon:before {
    content: "\e61b";
}
.icon-vip:before {
    content: "\e63f";
}
.icon-iconfont:before {
    content: "\e604";
}
.icon-guanbi:before {
    content: "\e613";
}
.icon-ruanjian:before {
    content: "\e6dc";
}
.icon-shijian5:before {
    content: "\e628";
}
.icon-shijian:before {
    content: "\e626";
}
.icon-appchanpinyemian01:before {
    content: "\e640";
}
.icon-shijian7:before {
    content: "\e65b";
}
.icon-qq:before {
    content: "\e698";
}
.icon-jiaocheng:before {
    content: "\e624";
}
.icon-chongzhi1:before {
    content: "\e697";
}
.icon-lishiguiji:before {
    content: "\e6c7";
}
.icon-552cc4d25879a:before {
    content: "\e605";
}
.icon-xiazai:before {
    content: "\e6be";
}
.icon-xiazai2:before {
    content: "\e62f";
}
.icon-guanzhu:before {
    content: "\e62c";
}
.icon-iconfont58-copy:before {
    content: "\e602";
}
.icon-chongzhi:before {
    content: "\e60a";
}
.icon-wenda:before {
    content: "\e60e";
}
.icon-news:before {
    content: "\e70d";
}
.icon-xin:before {
    content: "\e678";
}
.icon-xiayiye:before {
    content: "\e61f";
}
.icon-mima:before {
    content: "\e627";
}
.icon-qiandao:before {
    content: "\e61d";
}
.icon-icondengluyonghu:before {
    content: "\e659";
}
.icon-youxi:before {
    content: "\e646";
}
.icon-xiugai:before {
    content: "\e655";
}
.icon-shouye2-copy:before {
    content: "\e601";
}
.icon-paixingbang:before {
    content: "\e618";
}
.icon-vip1:before {
    content: "\e61e";
}
.icon-weibiaoti6-copy:before {
    content: "\e670";
}
.icon-daxiao:before {
    content: "\e610";
}
.icon-paihang:before {
    content: "\e60c";
}
.icon-paihang1:before {
    content: "\e607";
}
.icon-neicun1:before {
    content: "\e608";
}
.icon-yuyan1:before {
    content: "\e609";
}
.icon-leixing1:before {
    content: "\e60b";
}
.icon-zuoyoujian:before {
    content: "\e606";
}
.icon-xiaofeijilu:before {
    content: "\e611";
}
.icon-zhuanti:before {
    content: "\e60d";
}
.icon-software-3d:before {
    content: "\e968";
}
.icon-software-browser:before {
    content: "\e969";
}
.icon-software-compression:before {
    content: "\e96a";
}
.icon-software-download:before {
    content: "\e96b";
}
.icon-software-images:before {
    content: "\e96c";
}
.icon-software-keyboard:before {
    content: "\e96d";
}
.icon-software-music:before {
    content: "\e96e";
}
.icon-software-office:before {
    content: "\e96f";
}
.icon-software-program:before {
    content: "\e970";
}
.icon-software-social:before {
    content: "\e971";
}
.icon-software-system:before {
    content: "\e972";
}
.icon-software-video:before {
    content: "\e973";
}
.icon-rank-title:before {
    content: "\e967";
}
.icon-closeBtn:before {
    content: "\e966";
}
.icon-wechat-log:before {
    content: "\e964";
}
.icon-qq-log:before {
    content: "\e965";
}
.icon-logout:before {
    content: "\e962";
}
.icon-user:before {
    content: "\e963";
}
.icon-mobile:before {
    content: "\e961";
}
.icon-report:before {
    content: "\e960";
}
.icon-goTop:before {
    content: "\e95f";
}
.icon-download5:before {
    content: "\e95e";
}
.icon-alipay:before {
    content: "\e950";
}
.icon-text:before {
    content: "\e943";
}
.icon-question:before {
    content: "\e942";
}
.icon-qrcode:before {
    content: "\e941";
}
.icon-arrow:before {
    content: "\e940";
}
.icon-game-c .path1:before {
    content: "\e951";
    color: rgb(1, 119, 193);
}
.icon-game-c .path2:before {
    content: "\e952";
    margin-left: -1.0009765625em;
    color: rgb(255, 255, 255);
}
.icon-computer-c .path1:before {
    content: "\e953";
    color: rgb(51, 130, 226);
}
.icon-computer-c .path2:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-apple-c .path1:before {
    content: "\e955";
    color: rgb(246, 71, 71);
}
.icon-apple-c .path2:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-android-c:before {
    content: "\e957";
}
.icon-andr-game-c .path1:before {
    content: "\e958";
    color: rgb(63, 234, 169);
}
.icon-andr-game-c .path2:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-andr-game-c .path3:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-andr-game-c .path4:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-category-c .path1:before {
    content: "\e95c";
    color: rgb(16, 208, 169);
}
.icon-category-c .path2:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-office:before {
    content: "\e944";
}
.icon-program:before {
    content: "\e945";
}
.icon-more:before {
    content: "\e94f";
}
.icon-browser:before {
    content: "\e946";
}
.icon-chat:before {
    content: "\e947";
}
.icon-video:before {
    content: "\e948";
}
.icon-keyboard:before {
    content: "\e949";
}
.icon-picture:before {
    content: "\e94a";
}
.icon-system:before {
    content: "\e94b";
}
.icon-compress:before {
    content: "\e94c";
}
.icon-music:before {
    content: "\e94d";
}
.icon-3d:before {
    content: "\e94e";
}
.icon-grant .path1:before {
    content: "\e93c";
    color: rgb(0, 0, 0);
}
.icon-grant .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(38, 36, 53);
}
.icon-platform .path1:before {
    content: "\e939";
}
.icon-platform .path2:before {
    content: "\e93a";
    margin-left: -1.43359375em;
}
.icon-size:before {
    content: "\e93b";
}
.icon-tag2:before {
    content: "\e938";
}
.icon-rocket:before {
    content: "\e937";
}
.icon-rec-tilt:before {
    content: "\e931";
}
.icon-bars:before {
    content: "\e932";
}
.icon-articles:before {
    content: "\e933";
}
.icon-star2:before {
    content: "\e934";
}
.icon-articles-hori:before {
    content: "\e935";
}
.icon-download2:before {
    content: "\e93e";
}
.icon-safe:before {
    content: "\e93f";
}
.icon-points:before {
    content: "\e92f";
}
.icon-VIP2:before {
    content: "\e930";
}
.icon-fly:before {
    content: "\e936";
}
.icon-eye:before {
    content: "\e92e";
}
.icon-emoji:before {
    content: "\e92d";
}
.icon-game-solid:before {
    content: "\e929";
}
.icon-rank-solid:before {
    content: "\e92a";
}
.icon-rec:before {
    content: "\e92b";
}
.icon-soft-tri:before {
    content: "\e92c";
}
.icon-homepage-circle:before {
    content: "\e928";
}
.icon-android:before {
    content: "\e900";
}
.icon-android-cute:before {
    content: "\e901";
}
.icon-android-market:before {
    content: "\e902";
}
.icon-apple:before {
    content: "\e903";
}
.icon-app-package:before {
    content: "\e904";
}
.icon-article:before {
    content: "\e905";
}
.icon-bulb:before {
    content: "\e906";
}
.icon-category:before {
    content: "\e907";
}
.icon-comments:before {
    content: "\e908";
}
.icon-comments-single:before {
    content: "\e909";
}
.icon-computer:before {
    content: "\e90a";
}
.icon-crown:before {
    content: "\e90b";
}
.icon-download:before {
    content: "\e90c";
}
.icon-edit:before {
    content: "\e90d";
}
.icon-game:before {
    content: "\e90e";
}
.icon-h5:before {
    content: "\e90f";
}
.icon-hand:before {
    content: "\e910";
}
.icon-homepage:before {
    content: "\e911";
}
.icon-information:before {
    content: "\e912";
}
.icon-likes:before {
    content: "\e913";
}
.icon-likes-big:before {
    content: "\e914";
}
.icon-mac:before {
    content: "\e915";
}
.icon-marked:before {
    content: "\e916";
}
.icon-money:before {
    content: "\e917";
}
.icon-need-network:before {
    content: "\e918";
}
.icon-no-ads:before {
    content: "\e919";
}
.icon-QQ:before {
    content: "\e91a";
}
.icon-safety-scan:before {
    content: "\e91b";
}
.icon-search:before {
    content: "\e91c";
}
.icon-software:before {
    content: "\e91d";
}
.icon-software-service:before {
    content: "\e91e";
}
.icon-star:before {
    content: "\e91f";
}
.icon-tags:before {
    content: "\e920";
}
.icon-thumb-up:before {
    content: "\e921";
}
.icon-time:before {
    content: "\e922";
}
.icon-user-center:before {
    content: "\e923";
}
.icon-VIP:before {
    content: "\e924";
}
.icon-vip-circle:before {
    content: "\e925";
}
.icon-wechat:before {
    content: "\e926";
}
.icon-windows:before {
    content: "\e927";
}

/* 英文字体font */
body {font-family: "Titillium", 微软雅黑, sans-serif;}

@font-face {
    font-family: 'Titillium';
    src: url('../../../fonts/fonts/titillium-light-webfont.eot');
    src: url('../../../fonts/fonts/titillium-light-webfont.svg#titillium-light-webfont') format('svg'),
    url('../../../fonts/fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fonts/titillium-light-webfont.woff') format('woff'),
    url('../../../fonts/fonts/titillium-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium';
    src: url('../../../fonts/fonts/titillium-lightitalic-webfont.eot');
    src: url('../../../fonts/fonts/titillium-lightitalic-webfont.svg#titillium-lightitalic-webfont') format('svg'),
    url('../../../fonts/fonts/titillium-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fonts/titillium-lightitalic-webfont.woff') format('woff'),
    url('../../../fonts/fonts/titillium-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Titillium';
    src: url('../../../fonts/fonts/titillium-regular-webfont.eot');
    src: url('../../../fonts/fonts/titillium-regular-webfont.svg#titillium-regular-webfont') format('svg'),
    url('../../../fonts/fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fonts/titillium-regular-webfont.woff') format('woff'),
    url('../../../fonts/fonts/titillium-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Titillium';
    src: url('../../../fonts/fonts/titillium-regularitalic-webfont.eot');
    src: url('../../../fonts/fonts/titillium-regularitalic-webfont.svg#titillium-regular-webfont') format('svg'),
    url('../../../fonts/fonts/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fonts/titillium-regularitalic-webfont.woff') format('woff'),
    url('../../../fonts/fonts/titillium-regularitalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Titillium';
    src: url('../../../fonts/fonts/titillium-semibold-webfont.eot');
    src: url('../../../fonts/fonts/titillium-semibold-webfont.svg#titillium-semibold-webfont') format('svg'),
    url('../../../fonts/fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/fonts/titillium-semibold-webfont.woff') format('woff'),
    url('../../../fonts/fonts/titillium-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}